# IDE y sistema
.vscode/
*.code-workspace

# Salidas y datos grandes
output/
debug_summary.csv
data/
pit_definitivo.csv

# Repos anidados que NO versionaremos aquí
vcpkg/
alg/pseudoflujo/mineflow_py/Ultimate-Pit-Limit---Pseudoflow/
/mnt/c/users/giova/oneDrive/escritorio/mining/alg/pseudoflujo/old_ps/

# (agrega aquí lo que no quieras subir)
alg/LG/debug.log
*.log

alg/LG/programas_no_necesarios/

